<!DOCTYPE html>
<html>
<head>
    <title>Strona główna</title>
</head>
<body>
<h1>Strona główna</h1>
<a href="/doctors">Lista lekarzy</a>
<p></p>
<a href="/doctors/add">Dodaj lekarza</a>
</body>
</html>